body {
	font-family: arial, sans-serif;
	font-size: 11pt;
	color: #000;
}
#demo_notice {
	background-color: #ffffdc;
	padding: 5px;
	font-size:11px; 
	color: gray
}
#container {
	width:800px;
	margin:auto;
}
.round,form .text,form,#demo_notice {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}	
form {
	display:block;
	background:#f3f3f3;
	border:1px solid #e0e0e0;
	padding:20px;
}
h1 {
	text-align:center;
	color:#979797;
}
h1 em {
	color:#000;
	font-style:normal;
}
form label {
	display:block;
	font-weight:bold;
}

form input.text {
	background:#d8d8d8;
	border:1px solid #bababa;
	font-size:14pt;
	padding:7px;
	margin:5px 0 20px;
	width:98%;
}

form input.shortened {
	background:#ffc9c9;
	border:1px solid #fd7d7c;
	color:#e62d00;
}
form .submit {
	text-align:center;
	padding:20px;
}

.inp_error {
	color: red;
	text-align: center;
}

div.footer {
	margin-top: 10px;
	color: #505050;
	text-align: center;
	font-size:12px;
}