div#hits_tbl {
	font-family: arial, sans-serif;
	font-size: 14px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	background-color: #ececec;
	padding: 20px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px; 
}
li {
	padding: 5px;
}